.NavLink {
  padding: 5px;
  text-decoration: none;
  display: flex;
}

.NavColor {
  color: black;
}

.Active {
  color: purple;
}

.NavToggle {
  background-color: var(--primary-color);
  padding: 2px 4px;
}